.BuildControls {
    width: 100%;
    background-color: #d12b2b;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #eee;
    margin: auto;
    padding: 10px;
}