.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.InputElement {
  outline: none;
  border: 1px solid #eee;
  background: #fff;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background: #eee;
}

.Invalid {
  border: 1px solid #cd0000;
  background: #ff8585;
}